PIXABAY_API_KEY="YOUR_API_KEY_HERE"
PIXABAY_IMAGE_COUNT=50

# JSON map of Theme Names pointing to their respective Pixabay Search Queries
PIXABAY_THEMES='{"General": "celebration party", "Bye": "bye goodbye celebration party ciao cheers seeya", "Farewell": "bye celebration party ciao cheers farewell goodbye", "Birthday": "birthday cake", "Good Job": "success achievement", "Promotion": "business success clapping", "Work Anniversary": "work anniversary office"}'
